<div class="slider-button__mobile d-flex arrow-show align-center justify-center">
    <div class="slider-arrow-prev slider-arrow ">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51.36 40.707" class="icon">
        <g transform="translate(1 -1.953)">
            <path data-name="Path 132" d="M323.214,1110.075h50" transform="translate(-324.214 -1087.769)" fill="none" stroke="#000" stroke-width="1"></path>
            <path data-name="Path 133" d="M343.82,1102.348l20,20-20,20" transform="translate(-314.167 -1100.042)" fill="none" stroke="#000" stroke-width="1"></path>
        </g>
        </svg>
    </div>
    <div class="slider-arrow-next slider-arrow "><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51.36 40.707" class="icon">
        <g transform="translate(1 -1.953)">
            <path data-name="Path 132" d="M323.214,1110.075h50" transform="translate(-324.214 -1087.769)" fill="none" stroke="#000" stroke-width="1"></path>
            <path data-name="Path 133" d="M343.82,1102.348l20,20-20,20" transform="translate(-314.167 -1100.042)" fill="none" stroke="#000" stroke-width="1"></path>
        </g>
    </svg>
    </div>
</div>