{% stylesheet %}
.testimonial-slider {
  max-width: 100%;
  margin: auto;
  padding: 2rem 1rem;
}

.testimonial-slider .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1.5rem;
  font-size: 1rem;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.testimonial-slider .quote {
  font-style: italic;
  margin-bottom: 1rem;
}

.testimonial-slider .author {
  font-weight: bold;
  margin-top: 0.5rem;
}

.testimonial-slider .swiper-button-prev,
.testimonial-slider .swiper-button-next {
  color: #000;
  width: 30px;
  height: 30px;
}

.testimonial-slider .write-story {
  margin-top: 1.5rem;
  background-color: #37b5e8;
  color: #fff;
  padding: 0.8rem 1.6rem;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}

@media (min-width: 768px) {
  .testimonial-slider .swiper-slide {
    _max-width: 60%;
    margin: auto;
  }
}


.testimonial__heading {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 15px;
  font-family: var(--font-heading-family);
}
.testimonial__content {
  margin-bottom: 20px;
}
.section__testimonial .button__wrapper {
  margin-top: 30px;
}
.section__testimonial .button__wrapper .button {
  padding: 0 30px;
}
.section__testimonial .section__heading-icon {
  margin-bottom: 15px;
}

@media screen and (max-width: 749px) {
  .section__testimonial .slider-arrow {
    right: 52%;
    top: 80%;
  }
  .section__testimonial .swiper-button-next.slider-arrow {
    right: 38%;
  }
}


.page-width {
      max-width: 940px;
      text-align: center;
}
{% endstylesheet %}


<div class="page-width isolate">
    <div class="section__heading text-center">
      <h2 class="section__heading-primary">
          Testimonials
      </h2>
    </div>
    <div class="section__heading-icon text-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="50.996" height="28.871" viewBox="0 0 50.996 28.871">
        <g id="Quote" transform="translate(-215 -4284.129)">
          <path id="Path_134" data-name="Path 134" d="M13.262,9.4A9.719,9.719,0,0,0,3.709,20.99,13.3,13.3,0,0,1,2,14.435C2,7.578,7.052,2,13.262,2V0C5.949,0,0,6.476,0,14.435,0,22,5.384,28.22,12.2,28.811A9.733,9.733,0,1,0,13.262,9.4" transform="translate(215 4284.129)" fill="#dbdbdb"></path>
          <path id="Path_134-2" data-name="Path 134" d="M13.262,9.4A9.719,9.719,0,0,0,3.709,20.99,13.3,13.3,0,0,1,2,14.435C2,7.578,7.052,2,13.262,2V0C5.949,0,0,6.476,0,14.435,0,22,5.384,28.22,12.2,28.811A9.733,9.733,0,1,0,13.262,9.4" transform="translate(243 4284.129)" fill="#dbdbdb"></path>
        </g>
      </svg>
    </div>
        <div class="swiper">
            <ul class="list-unstyled swiper-wrapper text-center" role="none">
                
                    <li class="swiper-slide" role="listitem">
                        <div class="testimonial__heading weight-regular">
                            <p>Lea Black Beauty® Soothing After Sun &amp; Shave Gel with 100mg CBD </p>
                        </div>
                        <div class="testimonial__content">
                            <p>Lea Black Beauty is on 🔥 I tried this (Lea Black Beauty® Soothing After Sun &amp; Shave Gel with 100mg CBD) on a whim, and what a pleasant surprise. It soothes aftershave burns. Then my nose got hit hard with a sunburn, so I tried it…totally awesome! Soothing and healing. Great ingredients I think the… <a href="/pages/testimonials" title="Testimonials">Read more</a></p>
                        </div>
                        <div class="testimonial__author weight-bold">
                            C J
                        </div>
                    </li>
            </ul>
        </div>
        
         <div class="slider-button__mobile d-flex arrow-show align-center justify-center">
              <div class="swiper-button-prev-template--19444065730837__c6b78fd0-7322-4a20-8021-dce2bfd4b6df slider-arrow-prev slider-arrow ">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51.36 40.707" class="icon">
                  <g transform="translate(1 -1.953)">
                      <path data-name="Path 132" d="M323.214,1110.075h50" transform="translate(-324.214 -1087.769)" fill="none" stroke="#000" stroke-width="1"></path>
                      <path data-name="Path 133" d="M343.82,1102.348l20,20-20,20" transform="translate(-314.167 -1100.042)" fill="none" stroke="#000" stroke-width="1"></path>
                  </g>
                 </svg>
              </div>
              <div class="swiper-button-next-template--19444065730837__c6b78fd0-7322-4a20-8021-dce2bfd4b6df slider-arrow-next slider-arrow "><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51.36 40.707" class="icon">
                  <g transform="translate(1 -1.953)">
                      <path data-name="Path 132" d="M323.214,1110.075h50" transform="translate(-324.214 -1087.769)" fill="none" stroke="#000" stroke-width="1"></path>
                      <path data-name="Path 133" d="M343.82,1102.348l20,20-20,20" transform="translate(-314.167 -1100.042)" fill="none" stroke="#000" stroke-width="1"></path>
                  </g>
              </svg>
              </div>
        </div>



        <div class="button__wrapper text-center">
            <a href="/pages/testimonials" aria-label="WRITE YOUR STORY" class="button button--primary">
                WRITE YOUR STORY
            </a>
        </div>
 
</div>











<div class="testimonial-slider-section">
  <div class="swiper testimonial-slider">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide">
          <div class="quote">{{ block.settings.quote }}</div>
          <div class="author">{{ block.settings.author }}</div>
        </div>
      {% endfor %}
    </div>

    <!-- Arrows -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>

  {% if section.settings.cta_text != blank and section.settings.cta_link != blank %}
    <a href="{{ section.settings.cta_link }}" class="write-story">{{ section.settings.cta_text }}</a>
  {% endif %}
</div>

{% javascript %}
  const initTestimonialSwiper = () => {
    if (typeof Swiper === 'undefined') return;

    new Swiper('.testimonial-slider', {
      loop: true,
      spaceBetween: 20,
      slidesPerView: 1,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      breakpoints: {
        768: {
          slidesPerView: 1
        }
      }
    });
  };

  document.addEventListener('DOMContentLoaded', initTestimonialSwiper);
{% endjavascript %}

{% schema %}
{
  "name": "Testimonial Slider",
  "class" : "section__testimonial",
  "settings": [
    {
      "type": "text",
      "id": "cta_text",
      "label": "CTA Button Text",
      "default": "Write Your Story"
    },
    {
      "type": "url",
      "id": "cta_link",
      "label": "CTA Button Link"
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "Testimonial",
      "settings": [
        {
          "type": "textarea",
          "id": "quote",
          "label": "Quote",
          "default": "This product is amazing! It completely changed my skincare routine."
        },
        {
          "type": "text",
          "id": "author",
          "label": "Author",
          "default": "C J"
        }
      ]
    }
  ],
  "max_blocks": 10,
  "presets": [
    {
      "name": "Testimonial Slider",
      "blocks": [
        {
          "type": "testimonial"
        }
      ]
    }
  ]
}
{% endschema %}
